
@model Blackjack21Zhilin.Models.CurrentViewModel
@{
    ViewData["Title"] = "Place your bet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Play Blackjack</h2>
<div class="container panel-success" style="padding: 120px 30px 20px 30px; min-height: 870px;background-image:url(/images/blackjack_1.jpg);background-repeat:no-repeat;">
    <div class="row">
        <div class="col-2 col-lg-offset-4">
            <text style="font-size:larger;"><b>Player:@Model.Player.Email</b></text>
        </div>
        <div class="col-2 col-lg-offset-4">
            <text style="font-size: larger"><b>Balance:@Model.Player.Amount</b></text>
        </div>
        @{int maxBet = Model.Player.Amount < 100 ? Model.Player.Amount : 100; }

        @using (Html.BeginForm("Bet", "Home", FormMethod.Post))
        {
            <div class="form-group">
                <div class="row">
                    <div class="col col-lg-2 col-lg-offset-4">
                        <div class="my-center-input-div">
                            <input type="number" min="1" max="@maxBet" name="bet" id="bet" class="form-control" required /><br />
                        </div>                      
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-2 col-lg-offset-4">
                        <input type="submit" value="Deal" class="btn btn-warning" />
                    </div>
                </div>
            </div>
        }
    </div>  
</div>
