
@{
    ViewData["Title"] = "BlackJack21 Zhilin";
}
<h2>@ViewData["Title"] </h2>


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/blackjack_1.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carouseB-caption" style="margin: 0; position: absolute;top: 50%;left:40%;-ms-transform: translateY(-50%);transform: translateY(-50%);" role="option">
                <p>
                    <text style="font-size:40px;color:chartreuse">Start play </text>
                    <a class="btn btn-lg btn-danger" asp-area="" asp-controller="Home" asp-action="Bet">
                        <b>Play</b>
                    </a>
                </p>
            </div>
        </div>
    </div>

  
</div>


